<% layout('layouts/boilerplate') %>
<div class="container col-md-6 offset-md-3 col-xl-4 offset-xl-4">
<form  class="mb-2 align-items-center pls-validate" action="/login" method="POST" novalidate>
    <div class="card shadow">
        <img src="https://www.spjain.org/hubfs/events-images/Blood-Donation-Drive/sp-jain-blood-donation-drive-dubai.jpg" alt="camp image" class="card-img-top">

        <div class="card-body">
            <h5 class="card-title">Login</h5>

        <div class=" mb-2">
            <label class="form-label" for="username">Username</label>
            <input class="form-control" type="text" name="username" id="username" autofocus required>
            <div class="valid-feedback">
                Looks Good!
            </div>
            <div class="invalid-feedback">
                Please enter a username
            </div>
        </div>
        <div class=" mb-2 ">
            <label class="form-label" for="password">Password</label>
            <input class="form-control" type="password" name="password" id="password" required>
            <div class="valid-feedback">
                Looks Good!
            </div>
            <div class="invalid-feedback">
                Please enter a password
            </div>
        </div>
        <div class="d-grid gap-2">
        <button class="btn btn-success">Login</button>
        </div>
    </div>
    </div>
</form>


</div>

